name: Monthly Traffic Report
on:
  schedule:
    - cron: '0 0 1 * *' # Midnight on the 1st of every month
  workflow_dispatch:

jobs:
  report:
    runs-on: ubuntu-latest
    permissions:
      contents: write # Needed to save the report
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4
      
      - name: Generate Traffic Stats
        uses: jgehrcke/github-repo-stats@v1.4.2
        with:
          ghtoken: ${{ secrets.TRAFFIC_REPORT_TOKEN }}
